body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-box {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px;
    border-radius: 10px;
}

.icon {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

.counter {
    font-family: "Courier New", monospace;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
